<div fxLayout="row" fxFlex="100" fxLayoutAlign="center center" class="main-content">
    <div fxFlex="95" class="white-bg-content margin-top-50">

        <div class="margin-bottom-20">
            <div fxFlex="35">
                <div class="margin-bottom-70">
                    <mat-card fxFlexOffset="5" fxFlex="45" style="background: linear-gradient(to bottom, #a979d1 0%, #5f3d77 100%);">
                        <p class="card-header">Total Agents</p>
                        <p class="card-body">15</p>
                    </mat-card>
                    <mat-card fxFlexOffset="5" fxFlex="45" style="background: linear-gradient(to bottom, #ff998e 0%, #e74c3c 100%);">
                        <p class="card-header">Agents Logged In</p>
                        <p class="card-body">11</p>
                    </mat-card>
                </div>
                <div>
                    <mat-card fxFlexOffset="5" fxFlex="45" style="background: linear-gradient(to bottom, #fbdbaf 0%, #f39c12 100%);">
                        <p class="card-header">Application Server</p>
                        <p class="card-body-time">01M 12D 11h 12m 45s</p>
                    </mat-card>
                    <mat-card fxFlexOffset="5" fxFlex="45" style="background: linear-gradient(to bottom, #6dffab 0%, #27ae60 100%);">
                        <p class="card-header">Call Manager</p>
                        <p class="card-body-time">00M 15D 15h 41m 21s</p>
                    </mat-card>
                </div>
            </div>
            <div fxFlex="63" fxFlexOffset="2" id="callChartObj">
                <apx-chart [series]="callChartOptions.series" [chart]="callChartOptions.chart" [xaxis]="callChartOptions.xaxis" [stroke]="callChartOptions.stroke" [tooltip]="callChartOptions.tooltip" [dataLabels]="callChartOptions.dataLabels"></apx-chart>
            </div>
        </div>
        <div class="margin-bottom-20">
            <div fxFlex="55" fxFlexOffset="2" id="cpuChartObj" *ngIf="cpuChartCreated">
                <apx-chart [series]="cpuChartOptions.series" [chart]="cpuChartOptions.chart" [xaxis]="cpuChartOptions.xaxis" [stroke]="cpuChartOptions.stroke" [tooltip]="cpuChartOptions.tooltip" [dataLabels]="cpuChartOptions.dataLabels"></apx-chart>
            </div>
            <div fxFlex="18" fxFlexOffset="2" *ngIf="ramCreated">
                <apx-chart [series]="memoryChartOption.series" [chart]="memoryChartOption.chart" [plotOptions]="memoryChartOption.plotOptions" [labels]="memoryChartOption.labels" [stroke]="memoryChartOption.stroke" [fill]="memoryChartOption.fill"></apx-chart>
            </div>
            <div fxFlex="18" fxFlexOffset="2" *ngIf="swapCreated">
                <apx-chart [series]="swampChartOption.series" [chart]="swampChartOption.chart" [plotOptions]="swampChartOption.plotOptions" [labels]="swampChartOption.labels" [fill]="swampChartOption.fill" [stroke]="swampChartOption.stroke"></apx-chart>
            </div>
        </div>
    </div>
</div>