.main-content {
    background-color: white;
    margin-bottom: 50px;
}

.white-bg-content {
    background-color: white;
    margin-top: 20px;
}

.header {
    background-color: aquamarine;
    height: 60px;
}

.side {
    background-color: blue;
}

.main {
    background-color: #34425a;
}

.content {
    border-top: 1px solid #8888884a;
    background-color: white;
}

.dummy-lg {
    height: 600px;
}

.card-header {
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
}

.card-body {
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 20px !important;
}

.card-body-time{
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px !important;
}