<mat-dialog-content>
    <div fxLayout="column" *ngIf="showNodeSelectionPage">
        <div fxLayout="row">
            <div fxFlex="80">
                <h1 mat-dialog-title>Add IVR Node</h1>
            </div>
            <div fxFlex="20" fxLayoutAlign="end">
                <button mat-icon-button (click)="closeDiv()">
                    <mat-icon>close</mat-icon>
                  </button>
            </div>
        </div>
        <p>Will want to add a "Queue" or an "Interim Voice Prompt"?</p>
        <mat-radio-group aria-label="Select an option" [(ngModel)]="selectedNodeType">
            <mat-radio-button class="nodeRadio" value="interim">Interim Voice Prompt</mat-radio-button>
            <mat-radio-button class="nodeRadio" value="queue">Queue</mat-radio-button>
        </mat-radio-group>
        <div class="margin-top-30">
            <button mat-raised-button fxFlex="25" (click)="selectNodeType()" color="primary">Next</button>
        </div>
        <div class="desc">
            <div>
                <h3 class="margin-0">Interim Voice Prompt</h3>
                <h5>Where the callers will actully interact will system queues.</h5>
                <ul>
                    <li>Only serves as a sub step.</li>
                    <li>Enable or disable the entire branch.</li>
                </ul>
            </div>
            <div>
                <h3 class="margin-0">Queue</h3>
                <h5>Where the callers will actully interact will system queues.</h5>
                <ul>
                    <li>Only serves as a sub step.</li>
                    <li>Enable or disable the entire branch.</li>
                </ul>
            </div>
        </div>
    </div>
    <div fxLayout="column" *ngIf="showQueueAddPage" fxLayoutGap="20px" [formGroup]="queueFormGroup">
        <h1 mat-dialog-title>Queue Setting</h1>
        <div fxLayout="row" fxFill>
            <div fxFlex="30">
                <mat-form-field>
                    <mat-label>
                        Queue Name
                    </mat-label>
                    <input matInput formControlName="queueName">
                </mat-form-field>
            </div>
            <div fxFlex="30" fxFlexOffset="10">
                <mat-form-field fxFill>
                    <mat-label>
                        Key Press
                    </mat-label>
                    <select matNativeControl formControlName="keyPress">
                        <option disabled>--Select--</option>
                        <option *ngFor="let option of keyList" [value]="option.value">{{ option.name }}
                        </option>
                    </select>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="column" fxFill>
            <div fxFlex="30">
                <span>Ring Mode</span>
                <mat-radio-group aria-label="Select an option" formControlName="ringMode" fxFlexOffset="10">
                    <mat-radio-button class="nodeRadio" value="all">All</mat-radio-button>
                    <mat-radio-button class="nodeRadio" value="roundRobin">Round Robin</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div fxLayout="row" fxFill>
            <div fxFlex="40" class="margin-top-15">
                Predicting Announcement Frequency
            </div>
            <div fxFlex="30" fxFlexOffset="10">
                <mat-form-field fxFill>
                    <mat-label>
                        Frequency (in Sec)
                    </mat-label>
                    <select matNativeControl formControlName="predicAnnounceFrequency">
                        <option disabled>--Select--</option>
                        <option value="30">30</option>
                        <option value="60">60</option>
                        <option value="90">90</option>
                    </select>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="column" fxFill>
            <mat-divider></mat-divider>
        </div>
        <div fxLayout="column" fxFill>
            <h3>Max Idle Agent Handling</h3>
        </div>
        <div fxLayout="column" fxFill>
            <div fxFlex="30">
                <span>Auto Connect Call</span>
                <mat-radio-group aria-label="Select an option" fxFlexOffset="10" formControlName="autoConnectCall">
                    <mat-radio-button class="nodeRadio" value="yes">Yes</mat-radio-button>
                    <mat-radio-button class="nodeRadio" value="no">No</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div fxLayout="row" fxFill>
            <div fxFlex="30" class="margin-top-15">
                Ring Next Agent After
            </div>
            <div fxFlex="30">
                <mat-form-field fxFill>
                    <mat-label>
                        Time (in Sec)
                    </mat-label>
                    <select matNativeControl formControlName="ringNextAgentAfter">
                        <option disabled>--Select--</option>
                        <option value="05">05</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="25">25</option>
                        <option value="30">30</option>
                    </select>
                </mat-form-field>
            </div>
        </div>

        <div fxLayout="row" fxFill>
            <div fxFlex="30" class="margin-top-15">
                On Agent Reject
            </div>
            <div fxFlex="30">
                <mat-form-field fxFill>
                    <mat-label>
                        Time (in Sec)
                    </mat-label>
                    <select matNativeControl formControlName="onAgentReject">
                        <option disabled>--Select--</option>
                        <option value="NextAgent">Next Agent</option>
                        <option value="HandleUnresponsiveAgent">Handle Unresponsive Agent</option>
                    </select>
                </mat-form-field>
            </div>
        </div>

        <div fxLayout="column" fxFill>
            <h4>Handle Unresponsive Agent</h4>
        </div>
        <div fxLayout="row" fxFill>
            <div fxFlex="90">
                <mat-radio-group aria-label="Select an option" fxLayoutGap="10px" formControlName="forwardCall">
                    <mat-radio-button class="margin-bottom-10" value="voicemail">Send to voicemail. </mat-radio-button>
                    <mat-radio-button class="margin-bottom-10" value="queue">Return Back To Queue</mat-radio-button>
                    <mat-radio-button class="margin-bottom-10" value="forward">Forward call to
                        <mat-form-field>
                            <mat-select class="margin-left-10">
                                <mat-option value="option">Option</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>


        <div fxLayout="column" fxFill>
            <mat-divider></mat-divider>
        </div>
        <div fxLayout="column" fxFill>
            <h4>Queue Skills</h4>
        </div>
        <div fxLayout="column" *ngFor="let skillGroup of skillGroups;" fxFill>
            <div>
                {{skillGroup.name}}
            </div>
            <div fxLayout="row" fxLayoutGap="20px">
                <mat-checkbox *ngFor="let skill of skillGroup.skills;">{{skill.name}}</mat-checkbox>
            </div>
        </div>
        <div fxLayout="column" fxFill>
            <mat-divider></mat-divider>
        </div>
        <div class="margin-top-30">
            <button mat-raised-button fxFlex="20" (click)="saveQueueDetails()" color="primary">Save</button>
            <button mat-raised-button fxFlex="20" fxFlexOffset="5" (click)="backToSelection()" color="primary">Back</button>
        </div>
    </div>

    <div fxLayout="column" *ngIf="showPromptAddPage" fxLayoutGap="20px" [formGroup]="interimFormGroup">
        <h1 mat-dialog-title>Interim Voice Prompt Settings</h1>
        <div fxLayout="row" fxFill>
            <div fxFlex="30">
                <mat-form-field>
                    <mat-label>
                        Queue Name
                    </mat-label>
                    <input matInput formControlName="queueName">
                </mat-form-field>
            </div>
            <div fxFlex="30" fxFlexOffset="10">
                <mat-form-field fxFill>
                    <mat-label>
                        Key Press
                    </mat-label>
                    <select matNativeControl formControlName="keyPress">
                        <option disabled>--Select--</option>
                        <option *ngFor="let option of keyList" [value]="option.value">{{ option.name }}
                        </option>
                    </select>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxFill>
            <mat-radio-group aria-label="Select an option" formControlName="promptStatus" [(ngModel)]="promptStatus">
                <mat-radio-button class="nodeRadio" value="enable">Enable Prompt</mat-radio-button>
                <mat-radio-button class="nodeRadio" value="disable">Disable Prompt</mat-radio-button>
            </mat-radio-group>
        </div>
        <div fxLayout="row" fxFill class="margin-top-10">
            <h3 class="margin-0">Voice Prompt</h3>
        </div>
        <div fxLayout="row" fxFill>
            Current File <span class="margin-left-10" *ngIf="promptFileName==''">--------</span><span class="margin-left-10" *ngIf="promptFileName!=''">{{promptFileName}}</span>
        </div>
        <div fxLayout="row" fxFill>
            <input type="file" class="mat-form-field fileupload" formControlName="promptFile" (change)="handleFileInput($event.target.files,'promptFile')" />
            <button mat-raised-button color="warn" class="uploadButton" (click)="uploadQueuePromptFile()">
                <mat-icon>cloud_upload</mat-icon>
            </button>
        </div>
        <div class="margin-top-30">
            <button mat-raised-button fxFlex="20" (click)="saveVoicePrompt()" color="primary">Save</button>
            <button mat-raised-button fxFlex="20" fxFlexOffset="5" (click)="backToSelection()" color="primary">Back</button>
        </div>
    </div>
</mat-dialog-content>