.navbar {
    height: 60px;
    box-shadow: 0px 1px #8888884a;
}

.logo-box {
    background-color: #22baa0;
}

.topmenu-outer {
    /* background-color: darksalmon; */
    margin-left: 5px;
}

.navbar-left {
    /* background-color: goldenrod; */
}

.navbar-right {
    /* background-color: darkturquoise; */
}

.mat-icon {
    font-size: 15px !important;
    color: #5f5f5f;
    margin: 0px 8px !important;
    cursor: pointer !important;
}

.sub-menu {
    padding-top: 5px !important;
}

.drop-menu {
    cursor: pointer;
}

.mat-menu-item {
    padding: 0px 6px;
}