<div class="navbar">
    <div class="navbar-inner" fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
        <div class="logo-box" fxFlex="11" fxFlexFill fxLayoutAlign="center center">
            <a href="index.html">
                <img src="assets/img/logo-banner.png" width="150" alt="COMPANY" />
            </a>
        </div>
        <div class="topmenu-outer" fxFlex="89" fxLayout="row" fxLayoutAlign="center center">
            <div class="navbar-left" fxFlex="10">
                <mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon">fullscreen</mat-icon>
            </div>
            <div class="navbar-right" fxFlex="25" fxFlexOffset="65" fxLayoutAlign="center center">
                <mat-icon aria-hidden="false" aria-label="Example home icon">search</mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon">email</mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon">notifications</mat-icon>
                <div class="drop-menu" [matMenuTriggerFor]="belowMenu"> Jaijeet
                    <mat-icon aria-hidden="false" aria-label="Example home icon">expand_more</mat-icon>
                </div>
                <mat-menu #belowMenu="matMenu" yPosition="below">
                    <button mat-menu-item>
                        <mat-icon class="sub-menu">settings</mat-icon><span>Setting</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon class="sub-menu">exit_to_app</mat-icon><span>Log out</span>
                    </button>
                </mat-menu>
                <mat-icon aria-hidden="false" aria-label="Example home icon">message</mat-icon>
            </div>
        </div>
    </div>