.main-content {
    background-color: white;
    margin-bottom: 50px;
}

.white-bg-content {
    background-color: white;
    margin-top: 20px;
}

td{
    margin-left: 10px !important;
    margin-right: 10px !important;
}


.margin-right-20{
    margin-right: 20px !important;
}