<div fxLayout="row" fxFlex="100" fxLayoutAlign="center center" class="main-content">
    <div fxFlex="90" class="top-space-20" class="white-bg-content">
        <div>
            <div fxFlex="90">
                <h2>Voicemails</h2>
            </div>
        </div>
        <div class="mat-elevation-z8 margin-botton-20px" fxFill>
            <table mat-table [dataSource]="dataSource" fxFill>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Message </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
                <ng-container matColumnDef="size">
                    <th mat-header-cell *matHeaderCellDef> Size </th>
                    <td mat-cell *matCellDef="let element"> {{element.size}} </td>
                </ng-container>
                <ng-container matColumnDef="createdOn">
                    <th mat-header-cell *matHeaderCellDef> Date & Time </th>
                    <td mat-cell *matCellDef="let element"> {{element.createdOn | date:'mediumDate'}} </td>
                </ng-container>
                <ng-container matColumnDef="phoneNumber">
                    <th mat-header-cell *matHeaderCellDef> Phone Number </th>
                    <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
                </ng-container>
                <ng-container matColumnDef="queue">
                    <th mat-header-cell *matHeaderCellDef> Queue </th>
                    <td mat-cell *matCellDef="let element"> {{element.queue}} </td>
                </ng-container>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon class="link margin-right-20">delete_forever</mat-icon>
                        <mat-icon class="link">cloud_download</mat-icon>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </table>
        </div>
    </div>
</div>