.dummy {
    height: 200px;
}

.header {
    background-color: aquamarine;
    height: 60px;
}

.side {
    background-color: blue;
}

.main {
    /* background-color: #34425a; */
}

.content {
    border-top: 1px solid #8888884a;
    background-color: white;
}

.dummy-lg {
    height: 600px;
}

.content-header-container {
    background-color: #e9edf2;
}

.content-header-title h1 {
    margin: 13px 16px 13px;
}

.content-header-sub span {
    margin-left: 7px;
}

.firstNav {
    margin-left: 15px !important;
}