<div fxLayout="column">
    <div>
        <app-header></app-header>
    </div>
    <div class="main" fxLayout="row" fxFlexAlign="stretch">
        <div class="side dummy" fxFlex="11" style="height: 100%;">
            <app-side-bar (navUpdate)="pageUpdated($event)"></app-side-bar>
        </div>
        <div class="content dummy-lg" fxFlex="89">
            <div class="content-header-container" fxLayout="column" fxLayoutAlign="center start">
                <div class="content-header-title" fxFill>
                    <h1>{{pageTitle}}</h1>
                </div>
                <div class="content-header-sub" fxLayout="row" fxLayoutAlign="start" fxFill>
                    <span class="firstNav" routerLink="/home">Home</span>
                    <p *ngFor="let subNav of navList">
                        <span>/</span>
                        <span [routerLink]="subNav.route">{{subNav.title}}</span>
                    </p>
                </div>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>