.main-content {
    background-color: white;
    margin-bottom: 50px;
}

.white-bg-content {
    background-color: white;
    margin-top: 20px;
}

.formSection {
    margin-top: 15px;
    margin-bottom: 15px;
}

.sectionHeader {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 600;
}

.link {
    cursor: pointer;
}