<div fxLayout="row" fxFlex="100" fxLayoutAlign="center center" class="main-content">
    <div fxFlex="90" class="top-space-20" class="white-bg-content">
        <div>
            <div fxFlex="90">
                <h2>Users</h2>
            </div>
            <div fxFlex="10">
                <a class="link" (click)="createUser(true)" *ngIf="!enableCreateUserForm">Create User</a>
                <a class="link" (click)="back()" *ngIf="enableCreateUserForm">Back</a>
            </div>
        </div>
        <div class="mat-elevation-z8 margin-botton-20px" fxFill *ngIf="!enableCreateUserForm">
            <table mat-table [dataSource]="dataSource" fxFill>
                <ng-container matColumnDef="userName">
                    <th mat-header-cell *matHeaderCellDef style="width: 20%;"> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
                </ng-container>

                <ng-container matColumnDef="sipid">
                    <th mat-header-cell *matHeaderCellDef style="width: 15%;"> Login Ext </th>
                    <td mat-cell *matCellDef="let element"> {{element.sipid}} </td>
                </ng-container>

                <ng-container matColumnDef="skill">
                    <th mat-header-cell *matHeaderCellDef style="width: 40%;"> Skills </th>
                    <td mat-cell *matCellDef="let element"> {{element.skill }} </td>
                </ng-container>

                <ng-container matColumnDef="extension" style="width: 15%;">
                    <th mat-header-cell *matHeaderCellDef> Dial Extension</th>
                    <td mat-cell *matCellDef="let element">{{element.extension}}</td>
                </ng-container>

                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef style="width: 10%;">
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                            Select All
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
            </table>
        </div>
        <div class="mat-elevation-z8 margin-botton-20px" fxFill *ngIf="enableCreateUserForm"
            [formGroup]="userFormGroup">
            <div fxLayout="column" fxLayoutAlign="center start" fxFlex="100" fxLayoutGap="20px" fxFlexOffset="5">
                <div fxLayout="row" fxFill fxFlex="100" fxLayoutGap="20px">
                    <div class="formSection" fxFlex="22">
                        <mat-form-field fxFill>
                            <mat-label>
                                First Name
                            </mat-label>
                            <input matInput maxlength="15" formControlName="firstName" required>
                        </mat-form-field>
                    </div>
                    <div class="formSection" fxFlex="22">
                        <mat-form-field fxFill>
                            <mat-label>
                                Last Name
                            </mat-label>
                            <input matInput maxlength="15" formControlName="lastName" required>
                        </mat-form-field>
                    </div>
                    <div class="formSection" fxFlex="22">
                        <mat-form-field fxFill>
                            <mat-label>
                                Email
                            </mat-label>
                            <input matInput maxlength="15" formControlName="email" required>
                        </mat-form-field>
                    </div>
                    <div class="formSection" fxFlex="22">
                        <mat-form-field>
                            <mat-label>
                                Password
                            </mat-label>
                            <input matInput maxlength="15" type="password" formControlName="password" required>
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row" fxFill fxFlex="100" fxLayoutGap="20px">
                    <div class="formSection" fxFlex="22">
                        <mat-form-field fxFill>
                            <mat-label>
                                Extension
                            </mat-label>
                            <input matInput maxlength="15" formControlName="extension" required>
                        </mat-form-field>
                    </div>
                    <div class="formSection" fxFlex="22">
                        <mat-form-field fxFill>
                            <mat-label>
                                Phone Number:
                            </mat-label>
                            <input matInput maxlength="15" formControlName="phone" required>
                        </mat-form-field>
                    </div>
                    <div class="formSection" fxFlex="22">
                        <mat-form-field fxFill>
                            <mat-label>Time Zone: </mat-label>
                            <mat-select formControlName="timeZone">
                                <mat-option *ngFor="let zone of timeZoneDrop" [value]="zone.offset">
                                    {{zone.text}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row" fxFill fxFlex="100" fxLayoutGap="20px">
                    <div class="formSection" fxFill>
                        <mat-list>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <h2 style="margin-top: 10px;">Caller Skills (Required for Inbound Calls)</h2>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                        </mat-list>
                    </div>
                </div>
                <div fxLayout="row" fxFill fxFlex="100" fxLayoutGap="20px" *ngFor="let skillGroup of skillGroups;"
                    class="margin-bottom-30">
                    <div fxLayout="column">
                        <div fxLayout="column" fxFill>
                            <div>
                                {{skillGroup.name}}
                            </div>
                            <div fxLayout="row" fxLayoutGap="20px">
                                <mat-checkbox *ngFor="let skill of skillGroup.skills;">{{skill.name}}</mat-checkbox>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="end end" class="top-space-20">
            <button mat-raised-button color="warn" class="addButton" *ngIf="!enableCreateUserForm">
                Allow Direct Call
            </button>
            <button mat-raised-button color="warn" class="addButton" *ngIf="enableCreateUserForm">
                Create
            </button>
        </div>
    </div>
</div>