<div class="sidebar" fxFill>
    <div fxLayout="column" fxLayoutAlign="space-around start">
        <div class="sidebar-header" fxLayout="column" fxLayoutAlign="center center" fxFill>
            <div fxLayout="column" class="user-profile" fxLayoutAlign="center center" fxFlexOffset="10">
                <img src="assets/img/user.png" height="60">
                <p>Full Name Here</p>
            </div>
        </div>
        <div class="sidebar-nav" fxFill>
            <a class="nav-item-link" routerLink="/home" (click)="updateNavigationLink('Dashboard','none',null)">
                <div [ngClass]="{'nav-item':true,'active':dashboardActive}" fxLayout="column" fxLayoutAlign="center center">
                    <div class="nav-icon" fxFlex="10">
                        <mat-icon>home</mat-icon>
                    </div>
                    <div class="nav-text" fxFlex="10">
                        <span>Dashboard</span>
                    </div>
                </div>
            </a>

            <mat-accordion multi="true">
                <!-- <mat-expansion-panel *ngFor="let nav of navigation; let i=index" [expanded]="(step === i || nav.isActive)" (opened)="setStep(i)" hideToggle> -->
                <mat-expansion-panel *ngFor="let nav of navigation; let i=index" expanded="true" hideToggle>
                    <mat-expansion-panel-header disabled>
                        <div [ngClass]="{'nav-item':true,'active':nav.isActive}" fxLayout="column" fxLayoutAlign="center center" fxFill>
                            <div class="nav-icon" fxFlex="100">
                                <mat-icon>{{nav.icon}}</mat-icon>
                            </div>
                            <div class="nav-text" fxFlex="100">
                                <span>{{nav.label}}</span>
                            </div>
                        </div>
                    </mat-expansion-panel-header>

                    <div [ngClass]="{'nav-item-sub-first':true,'active-sub':subNav.isActive}" fxLayout="column" fxLayoutAlign="center center" *ngFor="let subNav of nav.child" [routerLink]="subNav.route" (click)=updateNavigationLink(nav,subNav,$event)>
                        <div class="nav-text-sub" fxFlex="10">
                            <span>{{subNav.label}}</span>
                        </div>
                    </div>
                </mat-expansion-panel>

            </mat-accordion>

            <!-- Copyright 2019 Google LLC. All Rights Reserved.
                  Use of this source code is governed by an MIT-style license that
                  can be found in the LICENSE file at http://angular.io/license -->

        </div>
        <div style="height:200px;">

        </div>
    </div>
</div>