.sidebar {
    background-color: #34425a;
}

.sidebar-nav {
    background-color: #34425a;
}

.user-profile p {
    margin-top: 16px;
    font-size: 15px;
    color: white;
}

.user-profile img {
    border-radius: 35px;
}

.nav-icon {
    font-size: 20px;
}

.nav-item {
    font-size: 13px;
    color: #899dc1;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-item-link {
    color: #899dc1;
    text-decoration: none;
}

.mat-expansion-panel {
    background-color: #34425a !important;
    color: white;
    box-shadow: none !important;
}

.mat-expansion-panel-header {
    padding: 20px 0px !important;
}

.active {
    background-color: #2b384e;
    color: white;
}

.nav-item-sub-first {
    font-size: 12px;
    color: #899dc1;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.nav-item-sub {
    font-size: 14px;
    color: #899dc1;
    padding-top: 5px;
    padding-bottom: 5px;
}

.mat-expansion-panel-spacing {
    margin: 0px;
}

.active-sub {
    color: white;
    background-color: #2b384dd6;
    border-radius: 5px;
}


/* .nav-text-sub {
    font-size: 10px;
} */