<div fxLayout="row" fxFlex="100" fxLayoutAlign="center center" class="main-content">
    <div fxFlex="90" class="top-space-20" class="white-bg-content" *ngIf="viewMainReportPage">
        <div fxLayout="column" class="margin-bottom-20 margin-top-20">
            <div fxFlex="90">
                <h2 class="sectionHeader">Live Agent Monitoring</h2>
                <h5 class="subHeading">Monitors "REAL TIME" status of your agents.</h5>
            </div>
            <div class="sectionBody" fxFlex="80" fxLayout="row">
                <mat-list fxFill>
                    <mat-list-item>
                        <div class="listView">
                            <span class="linkText" (click)="openAgentMonitorPage()"><mat-icon svgIcon="agent_monitor"></mat-icon>Agent Monitor</span>
                            <p class="linkDesc"> monitor agents live at your location. You can listen, whisper and barge into ongoing calls.</p>
                        </div>
                    </mat-list-item>
                    <mat-list-item>
                        <div class="listView">
                            <span class="linkText" (click)="openQueueManagementPage()"><mat-icon svgIcon="queue_manage"></mat-icon>Queue Management</span>
                            <p class="linkDesc">Monitor queues live at your location.</p>
                        </div>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>

        <div fxLayout="column" class="margin-bottom-20 margin-top-20">
            <div fxFlex="90">
                <h2 class="sectionHeader">Call Report</h2>
                <h5 class="subHeading">Call reports give you summary and detailed information about every call that was made by callers.</h5>
            </div>
            <div class="sectionBody" fxFlex="80" fxLayout="row">
                <mat-list fxFill>
                    <mat-list-item>
                        <div class="listView">
                            <span class="linkText" (click)="openReportGenerationPage('outbound')"><mat-icon svgIcon="outbound_report"></mat-icon>Outbound Report</span>
                            <p class="linkDesc"> This report provides outbound calls made by callers.</p>
                        </div>
                    </mat-list-item>
                    <mat-list-item>
                        <div class="listView">
                            <span class="linkText" (click)="openReportGenerationPage('inbound')"><mat-icon svgIcon="inbound_report"></mat-icon>Inbound Report</span>
                            <p class="linkDesc">This report provides inbound calls.</p>
                        </div>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
    </div>
    <!-- View Agent Monitoring Page -->
    <div [@slideInOut] fxFlex="90" class="top-space-20 white-bg-content" *ngIf="viewAgentMonitoringPage">
        <div class="margin-bottom-20 margin-top-20" fxLayout="column" fxFill fxLayoutAlign="center center">
            <div fxLayout="row" class="margin-bottom-20 margin-top-20" fxFill>
                <div fxFlex="20">
                    <button mat-raised-button color="primary" (click)="openMainReportPage()"><mat-icon svgIcon="enable_monitor"></mat-icon>Enable Monitoring</button>
                </div>
                <div fxFlex="10" fxFlexOffset="70">
                    <button mat-raised-button color="warn" (click)="openMainReportPage()">Back</button>
                </div>
            </div>
        </div>
        <div>
            <mat-table [dataSource]="agentMonitorDatasource">
                <ng-container *ngFor="let col of agentCols" [matColumnDef]="col.field">
                    <mat-header-cell *matHeaderCellDef style="font-size: 15px;"> {{col.name}}</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span *ngIf="col.field=='action' && element[col.field]=='show'">
                            <mat-icon svgIcon="listen"></mat-icon>
                            <mat-icon>supervised_user_circle</mat-icon>
                            <mat-icon svgIcon="bargein"></mat-icon>
                        </span>
                        <span *ngIf="col.field=='action' && element[col.field]=='exit'">
                            <mat-icon [ngClass]="{activeAction: element['active']==='listen'}" svgIcon="listen"></mat-icon>
                            <mat-icon [ngClass]="{activeAction: element['active']==='whisper'}">supervised_user_circle</mat-icon>
                            <mat-icon [ngClass]="{activeAction: element['active']==='barge'}" svgIcon="bargein"></mat-icon>                            
                            <mat-icon>exit_to_app</mat-icon>
                        </span>
                        <span *ngIf="col.field=='action' && element[col.field]=='na'">
                            
                        </span>
                        <span *ngIf="col.field!='action'">
                            {{element[col.field]}}
                        </span>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="agentMonitorColumn"></mat-header-row>
                <mat-row *matRowDef="let row; columns: agentMonitorColumn;"></mat-row>
            </mat-table>
        </div>
    </div>

    <!-- View Queue Management Page -->
    <div [@slideInOut] fxFlex="90" class="top-space-20 white-bg-content" *ngIf="viewQueueManagementPage">
        <div fxLayout="column" class="margin-bottom-20 margin-top-20">
            <div fxFlex="90" class="margin-bottom-20">
                <h2 class="sectionHeader" (click)="openMainReportPage()" fxFlex="80">Queue Management</h2>
                <button mat-raised-button color="warn" (click)="openMainReportPage()" fxFlex="5">Back</button>
            </div>
            <div class="sectionBody" fxFlex="80" fxLayout="column">
                <!-- IVR Dropdown section -->
                <div fxLayout="row">
                    <span fxFlex="10" class="margin-top-20 form-lable-custom">
                        IVR :
                    </span>
                    <mat-form-field fxFlex="20">
                        <mat-select>
                            <mat-option>Select IVR</mat-option>
                            <mat-option *ngFor="let ivr of ivrList" [value]="ivr" (click)="onIvrSelect(ivr)">{{ivr}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-card fxFlexOffset="20" fxFlex="18">
                        <p class="card-header">Total Agents</p>
                        <p class="card-body">15</p>
                    </mat-card>
                    <mat-card fxFlexOffset="4" fxFlex="18">
                        <p class="card-header">Agents Logged In</p>
                        <p class="card-body">11</p>
                    </mat-card>
                </div>
                <!-- Queue Summary section -->
                <div fxLayout="column" *ngIf="showQueueSelection">
                    <h3 style="font-weight: bolder;">Queue Summary :</h3>
                    <!-- Queue summary card list for selected ivr -->
                    <div *ngFor="let queue of queueList" class="queue-card-summary link" (click)="onSelectingQueue(queue)">
                        <p class="queue-name"> {{queue}} </p>
                        <div>
                            <mat-card fxFlex="12">
                                <p class="card-header-queue">Total Agents</p>
                                <p class="card-body-queue">15</p>
                            </mat-card>
                            <mat-card fxFlex="12" class="margin-left-25">
                                <p class="card-header-queue">Agents Logged In</p>
                                <p class="card-body-queue">11</p>
                            </mat-card>
                        </div>
                    </div>
                </div>

                <!-- Queue Detail Run time agent section -->
                <div fxLayout="column" *ngIf="showQueueDetailSection" class="margin-top-90">
                    <h3 style="font-weight: bolder;">Queue : Name Of Queue</h3>
                    <p>Run Time - Agent Statistics</p>
                    <div>
                        <mat-card fxFlex="15">
                            <p class="card-header-queue"># of Calls in Waiting</p>
                            <p class="card-body-queue">5</p>
                        </mat-card>
                        <mat-card fxFlex="15">
                            <p class="card-header-queue">Agent with Skills</p>
                            <p class="card-body-queue">10</p>
                        </mat-card>
                        <mat-card fxFlex="15">
                            <p class="card-header-queue">Logged In</p>
                            <p class="card-body-queue">8</p>
                        </mat-card>
                        <mat-card fxFlex="15">
                            <p class="card-header-queue">Available</p>
                            <p class="card-body-queue">5</p>
                        </mat-card>
                        <mat-card fxFlex="15">
                            <p class="card-header-queue">On Call</p>
                            <p class="card-body-queue">5</p>
                        </mat-card>
                        <mat-card fxFlex="15">
                            <p class="card-header-queue">Idle</p>
                            <p class="card-body-queue">0</p>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- View Report Generation Page -->
    <div [@slideInOut] fxFlex="90" class="top-space-20 white-bg-content" *ngIf="viewDownloadReportPage">
        <div fxLayout="column" class="margin-bottom-20 margin-top-20">
            <div fxFlex="90" class="margin-bottom-20">
                <h2 class="sectionHeader" (click)="openMainReportPage()" fxFlex="80">{{headerName}}</h2>
                <button mat-raised-button color="warn" (click)="openMainReportPage()" fxFlex="5">Back</button>
            </div>
            <div class="sectionBody" fxFlex="80" fxLayout="column">
                <!-- IVR Dropdown section -->
                <div fxLayout="row">
                    <span fxFlex="5" class="margin-top-20 form-lable-custom">
                        From :
                    </span>
                    <mat-form-field fxFlex="15">
                        <input matInput [matDatepicker]="fromDate">
                        <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                        <mat-datepicker #fromDate></mat-datepicker>
                    </mat-form-field>
                    <span fxFlex="5" fxFlexOffset="10" class="margin-top-20 form-lable-custom">
                        To :
                    </span>
                    <mat-form-field fxFlex="15">
                        <input matInput [matDatepicker]="toDate">
                        <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                        <mat-datepicker #toDate></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="margin-top-20">
                    <button mat-raised-button color="primary" (click)="generateReport()" fxFlex="10">Excel Report</button>
                </div>
            </div>
        </div>
    </div>
</div>