.main-content {
    background-color: white;
    margin-bottom: 50px;
}

.white-bg-content {
    background-color: white;
    margin-top: 20px;
}

.link {
    cursor: pointer;
}

.sectionHeader {
    margin-bottom: 5px !important;
    font-weight: bolder;
}

.listView {
    width: 100%;
    font-size: 16px;
}

.linkText {
    /* font-size: 16px; */
    margin-left: 70px;
    font-weight: bolder;
    margin-right: 30px;
    cursor: pointer;
    color: #0b86b7;
}

.linkDesc {
    margin-left: 140px;
    margin-top: 10px;
}

.listIcon {
    font-size: 10px;
}

.mat-list-item {
    height: 80px !important;
}

.mat-icon {
    vertical-align: middle;
    margin-right: 10px;
}

.activeAction {
    color: #22baa0;
}

.mat-icon {
    margin-right: 20px !important;
}

.mat-cell:first-of-type {
    padding-left: 0px !important;
}

.mat-cell:last-of-type {
    padding-right: 0px !important;
}

.form-lable-custom {
    color: #34425a;
    font-weight: bolder;
}

.card-header {
    color: #22baa0;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}

.card-body {
    color: #34425a;
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
}

.mat-card {
    height: 120px !important;
}

.card-header-queue {
    color: #22baa0;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
}

.card-body-queue {
    color: #34425a;
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
}

.queue-card-summary {
    margin-bottom: 20px;
}

.queue-name {
    margin: 0px;
}