<div fxLayout="column" fxLayoutAlign="center" fxFlexFill class="wrapper">
    <div class="row" fxFlex="80" fxLayoutAlign="center">
        <div fxFlex="40" fxLayout="column">
            <div fxFlex="70" fxLayoutAlign="center">
                <mat-card class="example-card" fxFlex="50" fxLayoutGap="20px">
                    <div class="title" fxLayout="column" fxLayoutAlign="center center">
                        <div>
                            <img src="assets/img/logo-banner.png" height="60" alt="COMPANY" />
                        </div>
                        <div>
                            Please login into your account.
                        </div>
                    </div>
                    <div class="login-form" fxLayout="column">
                        <mat-form-field fxFlexFill>
                            <mat-label>Email</mat-label>
                            <input matInput>
                        </mat-form-field>
                        <mat-form-field fxFlexFill>
                            <mat-label>Password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon class="pass-icon">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <div>
                        <button mat-raised-button fxFlexFill color="primary">Login</button>
                        <a href="#" class="forgot" fxLayoutAlign="center">Forgot Password?</a>
                    </div>
                </mat-card>
            </div>
        </div>
        <!-- <div class="col-md-3 center">
            <div class="login-box">
                <a href="index.html" class="logo-name text-lg text-center">Modern</a>
                <p class="text-center m-t-md">Please login into your account.</p>
                <form class="m-t-md" action="index.html">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email" required="">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" required="">
                    </div>
                    <button type="submit" class="btn btn-success btn-block">Login</button>
                    <a href="forgot.html" class="display-block text-center m-t-md text-sm">Forgot Password?</a>
                    <p class="text-center m-t-xs text-sm">Do not have an account?</p>
                    <a href="register.html" class="btn btn-default btn-block m-t-md">Create an account</a>
                </form>
                <p class="text-center m-t-xs text-sm">2015 © Modern by Steelcoders.</p>
            </div>
        </div> -->
    </div>
</div>