.wrapper{
    background-color: #fafafa;
}


.title{

}

.login-form{
    margin-bottom: 20px !important;
    background-color: #fafafa;
}

.mat-card{
    background-color: #fafafa !important;
    box-shadow: none !important;
}


.mat-icon{
    font-size: 20px !important;
}

.forgot{
    margin-top: 25px;
    color: #337ab7;
    text-decoration: none;
}