.main-content {
    background-color: white;
    margin-bottom: 50px;
}

.white-bg-content {
    background-color: white;
    margin-top: 20px;
}

.cat-select-label {
    margin-top: 18px !important;
    margin-left: 25px !important;
}

.mat-header-cell {
    font-size: 15px !important;
}

.noRecordText{
    margin-left: 40px;
}

.link {
    cursor: pointer;
}