<div fxLayout="row" fxFlex="100" fxLayoutAlign="center center" class="main-content">
    <div fxFlex="90" class="top-space-20" class="white-bg-content">
        <div>
            <div fxFlex="90">
                <h2>Manage Skills</h2>
            </div>
        </div>
        <div class="mat-elevation-z8 ">
            <div class="margin-botton-20px" fxFill>
                <mat-tab-group (selectedTabChange)="tabChanged($event)">
                    <mat-tab label="Manage Skills Categories">
                        <div fxLayout="column" fxFlex="100" fxLayoutGap="20px">
                            <div fxFlex="90" *ngIf="(skillCategoryList && skillCategoryList.length>0)">
                                <table mat-table [dataSource]="skillCategoryTable" fxFill>
                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef> Category Name </th>
                                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="setting">
                                        <th mat-header-cell *matHeaderCellDef> Setting</th>
                                        <td mat-cell *matCellDef="let element">
                                            <mat-icon class="link" (click)="editSkillCategory(element)">settings</mat-icon>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="delete">
                                        <th mat-header-cell *matHeaderCellDef> Delete </th>
                                        <td mat-cell *matCellDef="let element">
                                            <mat-icon class="link" (click)="deleteSkillCategory(element)">delete_forever</mat-icon>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedSkillCategoryColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedSkillCategoryColumns;"></tr>
                                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                                </table>
                            </div>
                            <div fxFlex="100" *ngIf="(!skillCategoryList || skillCategoryList.length==0)">
                                <p class="noRecordText">No Result Found</p>
                            </div>
                            <div fxFlex="90" fxLayout="row" class="margin-top-20 margin-bottom-20">
                                <div fxFlex="95" fxLayoutAlign="end center" class="margin-left-20">
                                    <button mat-stroked-button color="primary" (click)="createSkillCategory()">Add New Category</button>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Manage Skills">
                        <div>
                            <div fxLayout="row" class="padding-20" [formGroup]="skillSearchFormGroup">
                                <div fxFlex="10">
                                    <p class="cat-select-label">
                                        Category
                                    </p>
                                </div>
                                <div fxFlex="15">
                                    <mat-form-field>
                                        <mat-select formControlName="catDropDown">
                                            <mat-option value="all">ALL</mat-option>
                                            <mat-option *ngFor="let category of skillCategoryList" [value]="category.skillCategoryID">{{category.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div fxFlex="55">
                                    <mat-form-field fxFill>
                                        <input matInput formControlName="catSearchInput">
                                    </mat-form-field>
                                </div>
                                <div fxFlex="5" fxFlexOffset="5">
                                    <button mat-raised-button color="primary" (click)="OnSearchSkill()">Search</button>
                                </div>
                            </div>
                            <div *ngIf="skillTable && skillTable.data.length>0">
                                <table mat-table [dataSource]="skillTable" fxFill>

                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef> Skill Name </th>
                                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                    </ng-container>
    
                                    <ng-container matColumnDef="skillcategory">
                                        <th mat-header-cell *matHeaderCellDef> Category Name </th>
                                        <td mat-cell *matCellDef="let element"> {{element.skillcategory}} </td>
                                    </ng-container>
    
                                    <ng-container matColumnDef="setting">
                                        <th mat-header-cell *matHeaderCellDef> Setting</th>
                                        <td mat-cell *matCellDef="let element">
                                            <mat-icon class="link" (click)="editExistingSkill(element)">settings</mat-icon>
                                        </td>
                                    </ng-container>
    
                                    <ng-container matColumnDef="delete">
                                        <th mat-header-cell *matHeaderCellDef> Delete </th>
                                        <td mat-cell *matCellDef="let element">
                                            <mat-icon class="link" (click)="deleteExistingSkill(element)">delete_forever</mat-icon>
                                        </td>
                                    </ng-container>
    
                                    <tr mat-header-row *matHeaderRowDef="displayedSkillColumnn"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedSkillColumnn;"></tr>
                                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                                </table>
                            </div>
                            <div *ngIf="skillTable && skillTable.data.length==0">
                                <p class="noRecordText">No Result Found</p>
                            </div>
                        </div>
                        <div fxFlex="90" fxLayout="row" class="margin-top-20 margin-bottom-20">
                            <div fxFlex="95" fxLayoutAlign="end center" class="margin-left-20">
                                <button mat-stroked-button color="primary" (click)="addNewSkill()">Add New Skill</button>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>