.main-content {
    background-color: white;
    margin-bottom: 50px;
}

.white-bg-content {
    background-color: white;
    margin-top: 20px;
}

table {
    width: 100%;
}

.link {
    cursor: pointer;
}

.confFormDiv {
    margin-top: 15px;
    padding-bottom: 20px;
}

.formSection {
    margin-top: 15px;
    margin-bottom: 15px;
}

.sectionHeader {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 600;
}

.addButton {
    height: 33px !important;
    margin-top: 10px !important;
}

.mat-radio-button {
    padding-right: 8px !important;
}