<div fxLayout="row" fxFlex="100" fxLayoutAlign="center center" class="main-content">
    <div fxFlex="90" class="top-space-20" class="white-bg-content" *ngIf="!showConfSettingPage">
        <div>
            <div fxFlex="90">
                <h2>Conference Room List</h2>
            </div>
            <div fxFlex="10">
                <a class="link" (click)="createConferencePopUp()">Create New Conference</a>
            </div>
        </div>
        <div class="mat-elevation-z8 margin-botton-20px" fxFill>
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="createdOn">
                    <th mat-header-cell *matHeaderCellDef> Created On </th>
                    <td mat-cell *matCellDef="let element"> {{element.createdOn | date:'mediumDate'}} </td>
                </ng-container>

                <ng-container matColumnDef="confName">
                    <th mat-header-cell *matHeaderCellDef> Conference Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.confName}} </td>
                </ng-container>

                <ng-container matColumnDef="setting">
                    <th mat-header-cell *matHeaderCellDef> Setting</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon class="link" (click)="confSetting(element.confId)">settings</mat-icon>
                    </td>
                </ng-container>

                <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef> Delete </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon class="link" (click)="deleteConfPopup(element.ivrId)">delete_forever</mat-icon>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </table>
        </div>
    </div>
    <div [@slideInOut] fxFlex="90" class="top-space-20" *ngIf="showConfSettingPage" class="white-bg-content">
        <div>
            <div fxFlex="90">
                <h2>Name : Conference Name</h2>
            </div>
        </div>
        <div class="mat-elevation-z8 margin-botton-20px marg">
            <div fxLayout="column" fxLayoutAlign="center start" fxFlex="90" fxLayoutGap="20px" fxFlexOffset="5" class="confFormDiv">
                <div fxLayout="row" fxLayoutAlign="start" fxFill fxFlex="100" fxLayoutGap="20px">
                    <div class="formSection" fxFlex="30">
                        <div class="sectionHeader">
                            Enable Conference
                        </div>
                        <div>
                            <mat-radio-group>
                                <mat-radio-button value="On">
                                    On
                                </mat-radio-button>
                                <mat-radio-button value="Off">
                                    Off
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="formSection" fxFlex="30">
                        <div class="sectionHeader">
                            Conference Room Details:
                        </div>
                        <div fxLayout="row" fxLayoutGap="50px">
                            <mat-form-field>
                                <mat-label>
                                    External Number
                                </mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutGap="50px">
                            <mat-form-field>
                                <mat-label>
                                    Internal Number
                                </mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="formSection" fxFlex="30">
                        <div class="sectionHeader">
                            Dial-In Pin
                        </div>
                        <div fxLayout="row" fxLayoutGap="50px">
                            <mat-form-field>
                                <mat-label>
                                    User Pin
                                </mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutGap="50px">
                            <mat-form-field>
                                <mat-label>
                                    Admin Pin
                                </mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start" fxFill fxFlex="100" fxLayoutGap="20px">
                    <div class="formSection" fxFlex="30" fxFlexOffset="70" fxLayoutAlign="end" fxLayoutGap="20px">
                        <button mat-raised-button color="primary" class="top-space-20">Save</button>
                        <button mat-raised-button color="accent" (click)="backtoList()" class="top-space-20">Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>