<div fxLayout="column">
    <h1 mat-dialog-title>{{data.header}}</h1>
    <p>{{data.msg}}</p>
    <div *ngFor="let form of data.formField" fxFill [formGroup]="dialogFormGroup">

        <div *ngIf="form.fieldType=='input'">
            <mat-form-field fxFill>
                <mat-label>
                    {{form.label}}
                </mat-label>
                <input matInput [formControlName]="form.name" [required]="form.required">
            </mat-form-field>
        </div>
        <div *ngIf="form.fieldType=='dropdown'">

            <mat-form-field fxFill>
                <mat-label>{{form.label}}</mat-label>
                <mat-select [formControlName]="form.name" [required]="form.required">
                    <mat-option *ngFor="let option of form.options" [value]="option.value">{{option.key}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div *ngIf="form.fieldType=='textarea'">
            <mat-form-field fxFill>
                <mat-label>{{form.label}}</mat-label>
                <textarea matInput [formControlName]="form.name" [required]="form.required"></textarea>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
        <div fxFill="100" class="btnMsgDiv">
            <b>{{data.btnMsg}}</b>
        </div>
        <div>
            <button mat-raised-button [color]="btn.isPrimary?'primary':''" *ngFor="let btn of data.btnlist" (click)="onBtnClick($event,btn)">
                {{btn.name}}
            </button>
        </div>
    </div>
</div>