/* You can add global styles to this file, and also import other style files */

@import './assets/css/custom-theme.css';
@import '~ngx-toastr/toastr.css';
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.top-space-20 {
    margin-top: 20px;
}

.content-screen {
    min-height: 1024px !important;
}

.timepicker__header {
    background-color: #18826f !important;
}

.clock-face__number span.active {
    background-color: #18826f !important;
}

.--clock-hand-color {
    background-color: #18826f !important;
    color: #18826f !important;
}

.timepicker-button {
    color: #18826f !important;
}

.clock-face__clock-hand {
    background-color: #18826f !important;
    color: #18826f !important;
}

.margin-right-10 {
    margin-right: 10px !important;
}

.margin-right-20 {
    margin-right: 20px !important;
}

.margin-left-10 {
    margin-left: 10px !important;
}

.margin-left-20 {
    margin-left: 20px !important;
}

.margin-left-25 {
    margin-left: 25px !important;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.margin-bottom-30 {
    margin-bottom: 30px !important;
}

.margin-bottom-70 {
    margin-bottom: 70px !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.margin-top-15 {
    margin-top: 15px !important;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.margin-top-30 {
    margin-top: 30px !important;
}

.margin-top-50 {
    margin-top: 50px !important;
}

.margin-top-90 {
    margin-top: 90px !important;
}

.margin-0 {
    margin: 0px !important;
}

.padding-20 {
    padding: 20px !important;
}


/* 
#toast-container > div {
    opacity: 1;
  }
  .toast {
    font-size: initial !important;
    border: initial !important;
    backdrop-filter: blur(0) !important;
  }
  .toast-success {
    background-color: #51A351 !important;
  }
  .toast-error {
    background-color: #BD362F !important;
  }
  .toast-info {
    background-color: #2F96B4 !important;
  }
  .toast-warning {
    background-color: #F89406 !important;
  } */