.main-content {
    background-color: white;
    margin-bottom: 50px;
}

.white-bg-content {
    background-color: white;
    margin-top: 20px;
}

table {
    width: 100%;
}

th {
    font-size: 14px !important;
    font-weight: bolder;
}

td {
    font-size: 12px !important;
}

.link {
    cursor: pointer;
}

.ivrFormDiv {
    margin-top: 15px;
    padding-bottom: 20px;
}

.sectionHeader {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 600;
    /* background-color: tomato; */
}

.mat-radio-button {
    padding-right: 8px !important;
}

.formSection {
    margin-top: 15px;
    margin-bottom: 15px;
    /* background-color: thistle; */
}

.addButton {
    height: 33px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.fileupload {
    width: 230px;
}

.uploadButton {
    background-color: #33baa0 !important;
}

.timeFormField {
    margin-right: 10px !important;
    width: 350px;
}

.table-l1 {
    padding-left: 20px !important;
}

.table-l2 {
    padding-left: 30px !important;
}

.table-l3 {
    padding-left: 40px !important;
}

.table-l4 {
    padding-left: 50px !important;
}

.table-l5 {
    padding-left: 60px !important;
}

.ivrInfo p {
    margin: 0px !important;
    font-weight: bolder;
    font-size: 10px;
}

.subHeader span {
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}