<div fxLayout="row" fxFlex="100" fxLayoutAlign="center center" class="main-content">
    <div fxFlex="90" class="top-space-20" *ngIf="!showIvrSettingPage" class="white-bg-content">
        <div>
            <div fxFlex="90">
                <h2>IVR List</h2>
            </div>
            <div fxFlex="10">
                <a class="link" (click)="createIvrPopUp()">Create New IVR</a>
            </div>
        </div>
        <div class="mat-elevation-z8 margin-botton-20px" fxFill>
            <table mat-table [dataSource]="dataSource" *ngIf="ivrListAvailable">
                <ng-container matColumnDef="createdOn">
                    <th mat-header-cell *matHeaderCellDef> Created On </th>
                    <td mat-cell *matCellDef="let element"> {{element.createdOn | date:'mediumDate'}} </td>
                </ng-container>

                <ng-container matColumnDef="ivrName">
                    <th mat-header-cell *matHeaderCellDef> IVR Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.ivrName}} </td>
                </ng-container>

                <ng-container matColumnDef="ivrID">
                    <th mat-header-cell *matHeaderCellDef> IVR Id </th>
                    <td mat-cell *matCellDef="let element"> {{element.ivrID }} </td>
                </ng-container>

                <ng-container matColumnDef="setting">
                    <th mat-header-cell *matHeaderCellDef> Setting</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon class="link" (click)="ivrSetting(element.ivrID)">settings</mat-icon>
                    </td>
                </ng-container>

                <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef> Delete </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon class="link" (click)="deleteIvrPopup(element.ivrID)">delete_forever</mat-icon>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </table>
            <div style="margin:20px;" *ngIf="!ivrListAvailable">
                <span style="font-size: 18px;">No IVR is created</span>
            </div>
        </div>
    </div>
    <div [@slideInOut] fxFlex="90" class="top-space-20" *ngIf="showIvrSettingPage" class="white-bg-content">
        <div>
            <div fxFlex="90">
                <h2>Name : {{ivrCompleteData.ivrName}}</h2>
            </div>
            <div fxFlex="10">
                <a class="link" (click)="backtoList()">Back</a>
            </div>
        </div>
        <div class="mat-elevation-z8 margin-botton-20px marg" fxFill [formGroup]="ivrFormGroup">
            <div fxLayout="column" fxLayoutAlign="center start" fxFlex="90" fxLayoutGap="20px" fxFlexOffset="5"
                class="ivrFormDiv">
                <div fxLayout="row" fxLayoutAlign="start" fxFill fxFlex="100" fxLayoutGap="20px">
                    <div class="formSection" fxFlex="20">
                        <div class="sectionHeader">
                            Enable IVR
                        </div>
                        <div>
                            <mat-radio-group formControlName="enableIVR">
                                <mat-radio-button class="ivrRadio" value="on">
                                    On
                                </mat-radio-button>
                                <mat-radio-button class="ivrRadio" value="off">
                                    Off
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="formSection" fxFlex="40">
                        <div class="sectionHeader">
                            Inbound Number
                        </div>
                        <div class="subHeader">
                            Current inbound Number : <span
                                *ngIf="ivrInfoData['inbound']!=''">{{ivrInfoData['inbound']}}</span>
                            <button mat-icon-button color="warn" *ngIf="ivrInfoData['inbound']!=''"
                                (click)="removeInboundNumber(ivrCompleteData.ivrID)">
                                <mat-icon>close</mat-icon>
                            </button>
                        </div>
                        <div fxLayout="row" fxLayoutGap="50px">
                            <mat-form-field>
                                <mat-label>
                                    Inbound Number
                                </mat-label>
                                <input matInput formControlName="inbound" (keypress)="restrictNumberOnly($event)"
                                    maxlength="15">
                            </mat-form-field>
                            <button mat-raised-button color="primary" (click)="addInboundNumber(ivrCompleteData.ivrID)"
                                class="addButton">
                                Add
                            </button>
                        </div>
                    </div>
                    <div class="formSection" fxFlex="40">
                        <div class="sectionHeader">
                            Welcome Message
                        </div>
                        <div class="subHeader">
                            Current File : <span
                                *ngIf="ivrInfoData['welcomeFile']!=''">{{ivrInfoData['welcomeFile']}}</span>
                        </div>
                        <div fxLayout="row">
                            <input type="file" class="top-space-20 mat-form-field fileupload"
                                formControlName="welcomeFile"
                                (change)="handleFileInput($event.target.files,'welcomeFile')" />
                            <button mat-mini-fab color="warn" class="uploadButton"
                                (click)="uploadIvrFile(ivrCompleteData.ivrID,'welcomeFile')">
                                <mat-icon>cloud_upload</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start" fxFill fxFlex="100" fxLayoutGap="20px">
                    <div class="formSection" fxFlex="30">
                        <div class="sectionHeader">
                            Music on hold
                        </div>
                        <div class="subHeader">
                            Current File : <span
                                *ngIf="ivrInfoData['onHoldMusic']!=''">{{ivrInfoData['onHoldMusic']}}</span>
                        </div>
                        <div fxLayout="row">
                            <input type="file" class="top-space-20 mat-form-field fileupload"
                                formControlName="onHoldMusic"
                                (change)="handleFileInput($event.target.files,'onHoldMusic')" />
                            <button mat-mini-fab color="warn" class="uploadButton"
                                (click)="uploadIvrFile(ivrCompleteData.ivrID,'onHoldMusic')">
                                <mat-icon>cloud_upload</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="formSection" fxFlex="30">
                        <div class="sectionHeader">
                            Extension Dialing
                        </div>
                        <div fxLayout="row" fxLayoutGap="50px" class="top-space-20">
                            <mat-checkbox class="example-margin" formControlName="extensionDial" value="after">Enable
                                Extension Dialing
                            </mat-checkbox>
                        </div>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start" fxFill fxFlex="100" fxLayoutGap="20px">
                    <div class="formSection" fxFill>
                        <mat-list>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <h2 style="margin-top: 10px;">Office Hours Setup</h2>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                        </mat-list>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start" fxFill fxFlex="100" fxLayoutGap="20px">
                    <div class="formSection" fxFlex="30">
                        <div fxLayout="row" fxLayoutGap="50px">
                            <mat-form-field class="timeFormField">
                                <mat-label>
                                    Time to Start
                                </mat-label>
                                <input matInput formControlName="startTime" [ngxTimepicker]="startTimepicker"
                                    [format]="24" [disableClick]="true" readonly>
                            </mat-form-field>
                            <ngx-material-timepicker-toggle [for]="startTimepicker"></ngx-material-timepicker-toggle>
                            <ngx-material-timepicker #startTimepicker></ngx-material-timepicker>
                        </div>
                        <div fxLayout="row" fxLayoutGap="50px">
                            <mat-form-field class="timeFormField">
                                <mat-label>
                                    Time to Finish
                                </mat-label>
                                <input matInput formControlName="endTime" [ngxTimepicker]="endTimepicker" [format]="24"
                                    [disableClick]="true" readonly>
                            </mat-form-field>
                            <ngx-material-timepicker-toggle [for]="endTimepicker"></ngx-material-timepicker-toggle>
                            <ngx-material-timepicker #endTimepicker></ngx-material-timepicker>
                        </div>
                    </div>
                    <div class="formSection" fxFlex="30">
                        <div fxLayout="row" fxLayoutGap="50px">
                            <mat-form-field fxFill>
                                <mat-label>
                                    Week Day Start
                                </mat-label>
                                <select matNativeControl formControlName="startDay">
                                    <option disabled>--Select--</option>
                                    <option *ngFor="let option of weekList" value="{{option.value}}">{{ option.name }}
                                    </option>
                                </select>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutGap="50px">
                            <mat-form-field fxFill>
                                <mat-label>
                                    Week Day End
                                </mat-label>
                                <select matNativeControl formControlName="endDay">
                                    <option disabled>--Select--</option>
                                    <option *ngFor="let option of weekList" value="{{option.value}}">{{ option.name }}
                                    </option>
                                </select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="formSection" fxFlex="30">
                        <div fxLayout="row" fxLayoutGap="50px">
                            <mat-form-field fxFill>
                                <mat-label>
                                    Destination If Time Matches
                                </mat-label>
                                <select matNativeControl fromControlName="destinationMatch">
                                    <option value="" disabled>--Select--</option>
                                    <option *ngFor="let option of destination" value="{{option.value}}"
                                        [selected]="(ivrInfoData.destinationMatch == option.value)">{{ option.name }}
                                    </option>
                                </select>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutGap="50px">
                            <mat-form-field fxFill>
                                <mat-label>
                                    Destination If Time Does Not Matches
                                </mat-label>
                                <select matNativeControl formControlName="destinationNotMatch">
                                    <option value="" disabled>--Select--</option>
                                    <option *ngFor="let option of destination" value="{{option.value}}"
                                        [selected]="(ivrInfoData.destinationNotMatch == option.value)">{{ option.name }}
                                    </option>
                                </select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div fxLayout="row" fxhomehomeLayoutAlign="start" fxFill fxFlex="100" fxLayoutGap="20px">
                    <div class="formSection" fxFlex="40">
                        <div class="sectionHeader">
                            Additional Off Days:
                        </div>
                        <div fxLayout="column">
                            <div *ngIf="(offDays && offDays.length>0)">
                                <div *ngFor="let day of offDays" fxLayoutGap="50px">
                                    <mat-form-field>
                                        <input matInput [matDatepicker]="picker" [formControlName]="day.name">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                    <button mat-raised-button color="warn" class="addButton"
                                        (click)="removeExistingField($event,day)">
                                        Remove
                                    </button>
                                </div>
                            </div>
                            <div>
                                <button mat-raised-button class="addButton" (click)="addNewField()">
                                    Add
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="formSection" fxFlex="30" fxFlexOffset="30">
                        <button mat-raised-button color="primary" class="top-space-20"
                            (click)="saveOfficeHours(ivrCompleteData.ivrID)">
                            Save Office Hours
                        </button>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start" fxFill fxFlex="100" fxLayoutGap="20px">
                    <div class="formSection" fxFill>
                        <mat-list>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <h2 style="margin-top: 10px;">Night Mode</h2>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                        </mat-list>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start" fxFill fxFlex="100" fxLayoutGap="20px">
                    <div class="formSection" fxFlex="60">
                        <div class="sectionHeader">
                            Incoming Call Handling for Night Mode
                        </div>
                        <div fxLayoutGap="50px">
                            <mat-radio-group aria-label="Select an option" formControlName="nightmodeDestination"
                                fxLayout="column">
                                <mat-radio-button class="margin-bottom-10" value="forward"
                                    (change)="nightModeRadio($event,'nightmodeDestination')">Forward Call to
                                    <mat-form-field>
                                        <mat-select class="margin-left-10" [disabled]="disableRadios">
                                            <mat-option value="option">Option</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <button mat-raised-button color="primary" class="margin-left-10"
                                        [disabled]="disableRadios">Save</button>
                                </mat-radio-button>
                                <mat-radio-button value="voicemail"
                                    (change)="nightModeRadio($event,'nightmodeDestination')">Play night mode welcome
                                    message and send to voicemail.
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="formSection" fxFlex="30">
                        <div class="sectionHeader">Night Mode Welcome Message</div>
                        <div class="subHeader">
                            Current File : <span
                                *ngIf="ivrInfoData['nightmodeWelcome']!=''">{{ivrInfoData['nightmodeWelcome']}}</span>
                        </div>
                        <div fxLayout="row">
                            <input type="file" class="top-space-20 mat-form-field fileupload"
                                formControlName="nightmodeWelcome"
                                (change)="handleFileInput($event.target.files,'nightmodeWelcome')" />
                            <button mat-mini-fab color="warn" class="uploadButton"
                                (click)="uploadIvrFile(ivrCompleteData.ivrID,'nightmodeWelcome')">
                                <mat-icon>cloud_upload</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start" fxFill fxFlex="100" class="margin-0">
                    <div class="formSection" fxFill>
                        <mat-list>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <h2 style="margin-top: 10px;">Setup IVR and Associated Queues</h2>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                        </mat-list>
                    </div>
                </div>
                <div fxLayout="column" fxLayoutAlign="start" fxFill fxFlex="100" style="margin-bottom: 0px !important">
                    <div fxLayout="row">
                        <div class="" fxFlex="20" fxFlexOffset="80" *ngIf="queueDataSource.data.length>0">
                            <button mat-raised-button color="warn" class="addButton margin-left-10"
                                (click)="onClickIvrSetup('add',ivrCompleteData.ivrID,'0')">Add Sub Item</button>
                        </div>
                        <div class="" fxFlex="30" fxFlexOffset="70" *ngIf="!(queueDataSource.data.length>0)">
                            <button mat-raised-button color="warn" class="addButton margin-right-10"
                                (click)="onClickIvrSetup('edit',ivrCompleteData.ivrID,'0')">Default Setting</button>
                            <button mat-raised-button color="warn" class="addButton margin-left-10"
                                (click)="onClickIvrSetup('add',ivrCompleteData.ivrID,'0')">Add Sub Item</button>
                        </div>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start" fxFill fxFlex="100" fxLayoutGap="20px"
                    *ngIf="!(queueDataSource && queueDataSource.data.length>0)">
                    <div class="formSection" fxFlex="70">
                        <div class="sectionHeader margin-bottom-10">
                            Since there is no IVR Queue defined, so the Default Queue will be applicable in this case.
                            For more information, please contact support@aavaz.biz.
                        </div>
                        <div class="margin-top-10">
                            <p>8 - DIAL BY DIRECTORY</p>
                            <p>9 - DIRECT DIAL</p>
                            <p>* - VOICE MAIL</p>
                            <p># - MAIN MENU</p>
                            <p>0 - RESERVED</p>
                        </div>
                    </div>
                </div>

                <div fxFill fxFlex="100" fxLayoutGap="20px" *ngIf="(queueDataSource.data.length>0)">
                    <table mat-table [dataSource]="queueDataSource" class="mat-elevation-z8">
                        <ng-container matColumnDef="keyName">
                            <th mat-header-cell *matHeaderCellDef> Key-Name </th>
                            <td mat-cell *matCellDef="let element" style="width: 20%;" [ngClass]="{
                                'table-l1': element.padding == 1,
                                'table-l2': element.padding == 2,
                                'table-l3': element.padding == 3,
                                'table-l4': element.padding == 4,
                                'table-l5': element.padding == 5
                              }">{{element.keyName}} </td>
                        </ng-container>

                        <ng-container matColumnDef="type">
                            <th mat-header-cell *matHeaderCellDef> type </th>
                            <td mat-cell *matCellDef="let element" style="width: 12%;"> {{element.type}} </td>
                        </ng-container>

                        <ng-container matColumnDef="view">
                            <th mat-header-cell *matHeaderCellDef> View </th>
                            <td mat-cell *matCellDef="let element" style="width: 20%;">
                                <button mat-raised-button color="warn" class="addButton margin-right-10"
                                    (click)="onClickIvrSetup('users','','')"
                                    *ngIf="element.type=='Queue'">Users</button>
                                <button mat-raised-button color="warn" class="addButton margin-right-10"
                                    (click)="onClickIvrSetup('skills','','')" *ngIf="element.type=='Queue'">
                                    Skills</button>
                                <p *ngIf="element.type!='Queue'">---------</p>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef> Action</th>
                            <td mat-cell *matCellDef="let element" style="width: 28%;">
                                <button mat-raised-button color="warn" class="addButton margin-right-10"
                                    (click)="onClickIvrSetup('edit','','')">Edit</button>
                                <button mat-raised-button color="warn" class="addButton margin-right-10"
                                    (click)="onClickIvrSetup('delete','','')">Remove</button>
                                <button mat-raised-button color="warn" class="addButton margin-right-10"
                                    (click)="onClickIvrSetup('add',ivrCompleteData.ivrID,element.nodeId)"
                                    *ngIf="element.type!='Queue'">Add Sub Item</button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedQueueColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedQueueColumns;"></tr>
                    </table>
                </div>
                <div fxFill fxFlex="100" fxLayoutGap="20px" *ngIf="(queueDataSource.data.length>0)">
                    <div class="margin-top-10 ivrInfo">
                        <p>8 - DIAL BY DIRECTORY</p>
                        <p>9 - DIRECT DIAL</p>
                        <p>* - VOICE MAIL</p>
                        <p># - MAIN MENU</p>
                        <p>0 - RESERVED</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>